<html>
   <head>

<title>Dark Octopus blog's</title>
   
   </head>

   <body>
   	
<div>
    <h1><a href="">Dark Octopus blog</a></h1>
</div>



<div>
   <p>Published: 29.01.16  10:02</p>
   <h2><a href="">Birth of Octopus </a></h2>
   <p>We are starting a great story We are starting a great storyWe are starting a great storyWe are starting a great story </p>
</div>

<div> 
   <p>Published: 29.01.16 10:09</p>
   <h2><a href="">Rules of Monsters</a></h2>
   <p>Monster does not exist Monster does not exist Monster does not existMonster does not existMonster does not existMonster does not exist</p> 
</div>
   </body>
</html>